
<div class="contenedor">

  <h2>Lista de Usuarios</h2>

@if (usuarios().length === 0) {

<div class="empty-state">
  No hay usuarios cargados
</div>

} @else {

<table class="tabla">

  <thead>
    <tr>
      <th style="width: 10%;">Username</th>
      <th>Nombre</th>
      <th class="col-email">Email</th>
      <th style="width: 10%;">Rol</th>
      <th style="width: 5%;">Estado</th>
      <th class="col-acciones">Acciones</th>
    </tr>
  </thead>

  <tbody>

    @for (usuario of usuarios(); track usuario.userId) {

      <tr>

        <td>{{ usuario.userId }}</td>

        <td>
          {{ usuario.nombre | uppercase }}
        </td>

        <td>
          {{ usuario.email }}
        </td>

        <td>
          {{ usuario.rol }}
        </td>

        <td>
          @if (usuario.activo) {
            <span class="estado activo">
              Activo
            </span>
          } @else {
            <span class="estado inactivo">
              Inactivo
            </span>
          }
        </td>

        <td>
          <div class="acciones">

            <button
              type="button"
              class="btn btn-info"
              [routerLink]="['/usuarios', usuario.userId]">
              Ver detalle
            </button>

            <button
              type="button"
              class="btn btn-danger"
              (click)="borrar(usuario.userId)">
              Eliminar
            </button>

          </div>
        </td>

      </tr>

    }

  </tbody>

</table>

}

</div>
